In [1]:
import pandas as pd
import numpy as np

In [18]:
gps_data = pd.read_csv("../data/Raw-GPS-data-Kandy-Buses/MAIN/OUTPUTS/merged_gps_data_10T.csv")
trips_data = pd.read_csv("../data/Raw-GPS-data-Kandy-Buses/MAIN/OUTPUTS/merged_trips_data.csv")

In [16]:
# FIXME - add this as a another filtering layer in data preprocessing
gps_data = gps_data[gps_data['date']>='2021-10-01']
gps_data = gps_data[gps_data['date']<'2021-11-01']

In [17]:
gps_data['date'].max()

'2021-10-31'

In [19]:
trips_data

,trip_id,deviceid,date,start_terminal,end_terminal,direction,start_time,end_time,duration,duration_in_mins,day_of_week,hour_of_day
0,1.0,116,2021-10-16,BT02,BT01,2,07:08:31,07:53:04,0:44:33,44.550000,5,7
1,2.0,116,2021-10-16,BT01,BT02,1,08:03:04,08:53:48,0:50:44,50.733333,5,8
2,3.0,116,2021-10-16,BT02,BT01,2,10:50:19,11:44:43,0:54:24,54.400000,5,10
3,4.0,116,2021-10-16,BT01,BT02,1,12:20:45,13:18:33,0:57:48,57.800000,5,12
4,5.0,116,2021-10-16,BT02,BT01,2,14:14:36,15:07:05,0:52:29,52.483333,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...
17191,17192.0,1377,2022-11-01,BT02,BT01,2,08:19:47,09:37:41,1:17:54,77.900000,1,8
17192,17193.0,1377,2022-11-01,BT01,BT02,1,09:50:50,10:42:28,0:51:38,51.633333,1,9
17193,17194.0,1377,2022-11-01,BT02,BT01,2,13:10:36,14:19:32,1:08:56,68.933333,1,13
17194,17195.0,1377,2022-11-01,BT01,BT02,1,14:39:51,15:27:08,0:47:17,47.283333,1,14
17195,17196.0,1377,2022-11-01,BT02,BT01,2,17:40:45,18:33:10,0:52:25,52.416667,1,17