In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([{"name": "a", "age":10},{"name": "b", "age":11}, {"name": "b", "age":102}, {"name": "t", "age":102}, {"name": "z", "age":110}])

In [12]:
df.loc[3:np.nan, 'game'] = 112

In [13]:
df

  name  age  game
0    a   10   111
1    b   11   111
2    b  102   111
3    t  102   112
4    z  110   112